<div class="register-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
        </div>
        <div class="modal-body">
          <form>
            <div class="form-container border p-3 mb-4 d-flex flex-column">
            <!-- Book Inputs -->
            <div class="list-group mb-4">
              <div class="list-group-item">
                <div class="form-group mb-3">
                  <br/>
                  <label for="title">Title</label>
                  <input type="text" id="title" class="form-control" [(ngModel)]="newBook.title" name="title" placeholder="Enter title">
                </div>
                <div class="form-group mb-3">
                  <label for="author">Author</label>
                  <input type="text" id="author" class="form-control" [(ngModel)]="newBook.author" name="author" placeholder="Enter author">
                </div>
                <div class="form-group mb-3">
                  <label for="publishDate">Publish Date</label>
                  <input type="text" id="publishDate" class="form-control" [(ngModel)]="newBook.publishDate" name="publishDate" placeholder="Enter publish date">
                </div>
              </div>
            </div>
  
            <!-- Quote Inputs -->
            <div class="list-group mb-4">
              <div class="list-group-item">
                <div class="form-group mb-3">
                  <label for="newQuote">New Quote</label>
                  <input placeholder="Add quote here" type="text" id="newQuote" class="form-control" [(ngModel)]="newQuoteText" name="newQuote">
                </div>
                <div class="form-group mb-3">
                  <label for="pageNumber">Page Number</label>
                  <input type="number" id="pageNumber" class="form-control" [(ngModel)]="newQuotePageNumber" name="pageNumber" min="0" placeholder="Enter page number">
                </div>
                <div class="form-check mb-3">
                  <input class="form-check-input" type="checkbox" id="isFavourite" [(ngModel)]="newQuoteIsFavourite" name="isFavourite">
                  <label class="form-check-label" for="isFavourite">Is Favourite</label>
                </div>
                <div class="text-end">
                  <button class="btn btn-primary" (click)="addQuoteWithStoredTitle(newBook.title)">Add Quote</button>
                </div>
              </div>
            </div>
            
            <div class="text-end mt-3">
              <button type="submit" class="btn btn-primary custom-btn-size" (click)="addBook()">Add Book</button>
            </div>
            <br/>
            </div>
          </form>
          <br/>
        </div>
      </div>
    </div>
  </div>
  