@media (max-width: 768px) {
    .form-container {
      width: 100%;
      max-width: 600px; /* Limit the width to 600px on larger screens */
      margin: 0 auto; /* Center the form horizontally */
    }
  }
  
  /* Adjust the text alignment for smaller screens */
  @media (max-width: 576px) {
    .text-center-mobile {
      text-align: center;
    }
  }

  .some-space{
    margin: 10px;
  }