.full-width {
    width: 100%;
  }

  .book-item {
    min-height: 100px; /* Adjust the value as needed */
  }
  
  .book-item h3 {
    margin: 0;
  }
  
  .button-group {
    display: flex;
    align-items: center;
  }

  .toggle-btn {
    white-space: nowrap;
    margin-right: 10px; /* Adjust the margin as needed */
  }
  
  .edit-btn, .delete-btn {
    margin-right: 10px; /* Adjust the margin as needed */
 
  }
  @media (min-width: 768px) {
     .add-book-form-container {
    min-width: 600px; /* Adjust the min-width as needed */
  }
  }
 
  .booklistmargin{
    margin-top: 85px;
  }
  
.custom-button-group {
    justify-content: space-around;
    size: 50px;
  }

  
  /* Add these styles to your CSS file */
@media (min-width: 768px) {
  .custom-button-group {
    justify-content: space-around;
    display: flex;
    gap: 10px;
  }
  
  .custom-button-group .btn {
    width: calc((100% - 80px) / 3); 
  }
}

@media (max-width: 768px) {
 
  .custom-button-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  
  
  .custom-button-group .btn {
    width: 40%; /* Buttons take up the full width */
    margin-right: 0; /* Remove margin to allow buttons to stretch */
  }
}

@media (max-width: 384px) {
  /* Further adjustments for even smaller screens if needed */
  .custom-button-group .btn {
    width: 100%; /* Buttons take up the full width */
    margin-right: 0; /* Remove margin to allow buttons to stretch */
  }
}

.day-mode .book-item {
  background-color: #fcfea0; /* Day mode background color */
  border: 1px solid #ccc;
}

.night-mode .book-item {
  background-color: #222222; /* Night mode background color */
  border: 1px solid #555;
}

.day-mode .button-group button {

  color: #ffffff; /* Day mode button text color */
}

.night-mode .button-group button {
  background-color: #343a40; /* Night mode button background color */
  color: #ffffff; /* Night mode button text color */
}

/* Add more classes for other styles as needed */
.white-text {
  color: white;
}
.night-mode-button {
  background-color: #343a40; /* Set the appropriate background color for night mode */
  color: white; /* Set the appropriate text color for night mode */
}