<div class="container">
  <div class="row">
    <div class="col-6">
      <ul class="list-group">
        <li *ngFor="let book of books" class="list-group-item book-item">
          <div class="d-flex justify-content-between align-items-center">
            <h3 class="flex-grow-1">{{ book.title }}</h3>
            <div class="button-group">
              <button class="btn btn-primary toggle-btn" (click)="toggleQuotes(book)">Toggle Quotes</button>
              <button class="btn btn-warning edit-btn" (click)="editBook(book)">Edit</button>
              <button class="btn btn-danger delete-btn" (click)="deleteBook(book)">Delete</button>
            </div>
          </div>
          <div *ngIf="book.quotesVisible" class="quote-list-container">
            <app-quote-list [quotes]="book.quotes" class="full-width"></app-quote-list>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>


